---
type Props = {
  sectionClass?: string;
  sectionId?: string;
};
const { props } = Astro;
---

<section id={props.sectionId} class:list={[props.sectionClass]}>
  <slot name="overlay" />
  <div class="px-8 py-24 mx-auto md:px-12 lg:px-32 max-w-7xl">
    <slot name="primary" />
    <slot name="secondary" />
  </div>
</section>
