---
import { BaseLayout, Header } from "kantor-extras";
import Hero from "./_components/hero.astro";
import Logo from "@/components/misc/logo.astro";
import Splash from "./_components/splash.astro";
---

<BaseLayout title="Home">
  <Splash />
  <Header navItems={[]} headerProps={{ class: "bg-sky-800" }}>
    <a href="/" slot="logo"><Logo /></a>
  </Header>
  <Hero />
  <Splash />
</BaseLayout>
