---
type Props = {
  class?: string;
};

const { props } = Astro;
---

<div class:list={["fill-orange-600 w-12 h-12", props.class]}>
  <svg
    version="1.1"
    id="Layer_1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    x="0px"
    y="0px"
    width="100%"
    viewBox="0 0 318 305"
    enable-background="new 0 0 318 305"
    xml:space="preserve"
  >
    <path
      fill="#3E2760"
      opacity="1.000000"
      stroke="none"
      d="
M216.465363,194.699280 
 C219.249283,190.579727 221.854614,186.811707 224.692642,182.707153 
 C216.294281,177.038376 214.736633,168.084732 215.130722,158.074951 
 C215.530151,147.929810 215.190292,137.756638 215.229858,127.595970 
 C215.282806,113.996956 212.039459,110.272820 198.498627,108.527634 
 C197.365295,108.381561 196.232071,108.234734 194.856094,108.056900 
 C194.856094,102.803665 194.856094,97.714401 194.856094,92.095993 
 C205.676605,91.994568 215.597626,94.275154 223.489044,102.122200 
 C231.666382,110.253586 232.083481,120.808777 231.762375,132.276855 
 C238.819153,132.276855 245.745239,131.972717 252.628967,132.381699 
 C257.372894,132.663544 262.364136,133.167725 266.711456,134.906357 
 C279.060699,139.845230 285.462524,149.601746 285.858673,162.735153 
 C286.295380,177.213745 286.102051,191.717041 285.934906,206.206711 
 C285.731995,223.797363 272.347626,236.954269 254.745850,237.100769 
 C247.282837,237.162888 239.818893,237.111130 231.891083,237.111130 
 C232.030731,249.087830 230.288010,260.109711 220.002869,267.561157 
 C212.577927,272.940430 204.078247,274.521240 194.844177,274.647247 
 C194.844177,269.174164 194.844177,264.071167 194.844177,258.521576 
 C196.464676,258.352661 198.045746,258.159912 199.631851,258.027008 
 C210.743057,257.095825 215.204773,252.213287 215.215576,240.909958 
 C215.227356,228.583725 215.149658,216.256821 215.265198,203.931656 
 C215.292984,200.968445 215.929962,198.010941 216.465363,194.699280 
M231.769684,201.999283 
 C231.769684,208.253265 231.769684,214.507248 231.769684,221.063721 
 C233.725571,221.063721 235.033844,221.065964 236.342117,221.063354 
 C243.006699,221.050110 249.681046,221.256378 256.333252,220.962326 
 C263.655792,220.638641 269.708160,214.450455 269.836243,206.799347 
 C270.081604,192.141541 270.054321,177.474106 269.824890,162.815613 
 C269.714996,155.794098 265.020996,149.708511 258.299835,149.102905 
 C249.629074,148.321640 240.834656,148.912598 231.786758,148.912598 
 C231.786758,153.541595 232.105728,158.051514 231.699127,162.495026 
 C231.272522,167.157074 233.382660,169.917801 237.381592,171.224152 
 C242.050522,172.749390 246.891266,173.748672 252.027863,175.071564 
 C252.027863,180.388901 252.027863,186.134933 252.027863,192.149414 
 C249.404724,192.463806 246.867767,192.474609 244.499695,193.112427 
 C239.493912,194.460678 233.819427,194.947586 231.769684,201.999283 
z"
    ></path>
    <path
      fill="#3F2961"
      opacity="1.000000"
      stroke="none"
      d="
M75.018555,251.713715 
 C79.821579,257.630493 86.429787,257.879120 93.072739,258.371002 
 C93.072739,263.772766 93.072739,268.889069 93.072739,273.999512 
 C73.638237,275.848907 56.382950,264.319946 56.196690,243.152054 
 C56.085316,230.494843 55.851891,217.824066 56.316166,205.182983 
 C56.528290,199.407516 54.101933,196.354919 49.160908,194.860062 
 C44.911732,193.574524 40.504932,192.809998 35.819969,191.735291 
 C35.819969,186.253510 35.819969,180.510040 35.819969,174.982361 
 C40.746605,173.763733 45.588699,172.827133 50.252892,171.334595 
 C54.426674,169.998978 56.422112,167.161865 56.286533,162.293976 
 C55.943523,149.978516 56.345711,137.644257 56.143101,125.322556 
 C55.752388,101.561325 74.119354,91.321770 93.093323,92.340141 
 C93.093323,97.442230 93.093323,102.558868 93.093323,107.980293 
 C90.803047,108.306519 88.539223,108.609215 86.281822,108.953979 
 C76.761116,110.408020 72.830841,114.726852 72.735809,124.271049 
 C72.616417,136.261871 72.368652,148.266327 72.794746,160.242889 
 C73.126801,169.576248 70.641716,177.296021 62.308281,183.336639 
 C72.667053,190.117569 73.099770,200.223953 72.762962,210.803192 
 C72.439835,220.952911 72.507370,231.125305 72.776459,241.277847 
 C72.866089,244.659393 74.110153,248.010330 75.018555,251.713715 
z"
    ></path>
    <path
      fill="#ECB591"
      opacity="1.000000"
      stroke="none"
      d="
M91.168152,129.980072 
 C87.289406,127.179420 89.360527,125.398964 92.028496,124.625816 
 C97.111076,123.152946 102.314697,121.416298 107.527252,121.197197 
 C125.430847,120.444656 143.364243,119.902084 161.277756,120.090202 
 C170.513046,120.187180 179.771667,121.736351 188.930832,123.189613 
 C191.708817,123.630394 194.189514,125.944901 196.806366,127.401199 
 C194.179352,128.871887 191.701996,131.176346 188.901230,131.679077 
 C169.555725,135.151535 150.062271,136.817795 130.389236,135.190933 
 C121.124001,134.424744 111.833595,133.905029 102.595238,132.900009 
 C98.847313,132.492279 95.207611,131.089600 91.168152,129.980072 
z"
    ></path>
    <path
      fill="#E2CEC4"
      opacity="1.000000"
      stroke="none"
      d="
M143.192932,43.585911 
 C148.832413,48.262390 154.573669,52.300182 159.535782,57.137253 
 C172.036041,69.322502 168.444229,88.322655 152.425293,95.118011 
 C148.263306,96.883575 143.636627,97.553696 138.709167,98.247307 
 C147.606750,84.991196 140.401001,73.438545 136.351364,61.518539 
 C134.129730,54.979279 132.093887,48.247509 131.141006,41.439251 
 C129.939423,32.854099 134.889099,27.212273 142.728989,22.893202 
 C140.454285,30.159124 139.047714,36.826935 143.192932,43.585911 
z"
    ></path>
    <path
      fill="#FCFBFC"
      opacity="1.000000"
      stroke="none"
      d="
M231.791733,201.559540 
 C233.819427,194.947586 239.493912,194.460678 244.499695,193.112427 
 C246.867767,192.474609 249.404724,192.463806 252.027863,192.149414 
 C252.027863,186.134933 252.027863,180.388901 252.027863,175.071564 
 C246.891266,173.748672 242.050522,172.749390 237.381592,171.224152 
 C233.382660,169.917801 231.272522,167.157074 231.699127,162.495026 
 C232.105728,158.051514 231.786758,153.541595 231.786758,148.912598 
 C240.834656,148.912598 249.629074,148.321640 258.299835,149.102905 
 C265.020996,149.708511 269.714996,155.794098 269.824890,162.815613 
 C270.054321,177.474106 270.081604,192.141541 269.836243,206.799347 
 C269.708160,214.450455 263.655792,220.638641 256.333252,220.962326 
 C249.681046,221.256378 243.006699,221.050110 236.342117,221.063354 
 C235.033844,221.065964 233.725571,221.063721 231.769684,221.063721 
 C231.769684,214.507248 231.769684,208.253265 231.791733,201.559540 
z"
    ></path>
  </svg>
</div>
